<%- include('../partials/head.ejs') %>
    <h1 class="incidents-title">Incidents</h1>
    <div class="incidents-container">
        <% incidents.forEach(incident => { %>               
                <ul class="incidents-item">
                    <li class ="incidents-item-li" style="font-weight:bold;font-size:4rem;"><%- incident.ti %></li>
                    <li class ="incidents-item-li" style="color:purple"><%- dateParser(incident.date) %></li>
                    <li class ="incidents-item-li" style="color:purple"><%- incident.place %></li>
                    <li class ="incidents-item-li" >
                        <span style="color:purple">Incident: </span>
                        <%- incident.description.substring(0,50) + " ..." %>
                    </li>
                    <li class ="incidents-item-li" >
                        <span style="color:purple">Action Taken: </span>"
                        <%- incident.action.substring(0,50) + " ..." %>
                    </li>
                    <a class ="incidents-item-btn" href="/incidents/show/<%= incident.date %>">Show More</a>
                </ul>
        <% }) %>
    </div>
