<%- include("../partials/head.ejs") %>
    <h1>Incident on <%- incident.date %> involving <%- incident.ti %></h1>
    <p><%- incident.description %></p>
    <p><%- incident.action %></p>
    <p><%- incident.place %></p>
    <p><%- incident.date %></p>
    <p><%- incident.pictures %></p>
    <p><%- incident.videos %></p>
    <p><%- incident.audio %></p>
    <p><%- incident.documents %></p>
    <p><%- incident.links %></p>
<%- include("../partials/foot.ejs") %>