<%- include("../partials/head.ejs") -%>
<form action="/tis/edit/<%= ti.name %>/" method="post" class="ti-edit-form">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="<%= ti.name %>" class="ti-edit-input">
        <br>
        <label for="country">Country:</label>
        <input type="text" id="country" name="country" value="<%= ti.country %>" class="ti-edit-input">
        <br>
        <label for="city">City:</label>
        <input type="text" id="city" name="city" value="<%= ti.city %>" class="ti-edit-input">
        <br>
        <label for="gender">Gender:</label>
        <input type="text" id="gender" name="gender" value="<%= ti.gender %>" class="ti-edit-input">
        <br>
        <label for="symptoms">Symptoms:</label>
        <textarea id="symptoms" name="symptoms" class="ti-edit-input"><%= ti.symptoms %></textarea>
        <br>
        <label for="activism">Activism:</label>
        <textarea id="activism" name="activism" class="ti-edit-input"> <%= ti.activism %></textarea>
        <br>
        <button type="submit" class="ti-edit-btn">Submit</button>
    </form><!--  -->
<%- include("../partials/foot.ejs") -%>