<%- include ("../partials/head") %>
<h1>
    List of TIs 
</h1>
<div>
    <ul class="tis-list">
        <% tis.forEach(ti => { %>
            <div class="tis-entry">
                <ul>
                    <li><%- ti.name %></li>
                    <li><%- ti.country %></li>
                    <li><%- ti.city %></li>
                    <li><%- ti.gender %></li>
                    <form action="/tis/edit/<%= ti.name %>" method="get">
                        <button type="submit">Edit</button>
                    </form> 
                    <form action="/tis/show/<%= ti.name %>" method="get">
                        <button type="submit">View</button>
                    </form> 
                </ul>
            </div>
        <% }) %>
    </ul>
</div>
<%- include('../partials/foot')%>
