<%- include ("../partials/head") %>
<div class="tis">
    <h1 class="tis-title">
        List of TIs 
    </h1>
        <ul class="tis-list-container">
            <% tis.forEach(ti => { %>
                <div class="tis-list-item-container">
                    <ul class="tis-list-item-list">
                        <li style="font-weight:bold;font-size: 4rem;"><%- ti.name %></li>
                        <li style="color:brown"><%- ti.city %></li>
                        <li style="color:brown"><%- ti.country %></li>
                        <li style="color:brown"><%- ti.gender %></li>
                        <form action="/tis/edit/<%= ti.name %>" method="get">
                            <button type="submit" class="tis-button">Edit</button>
                        </form> 
                        <form action="/tis/show/<%= ti.name %>" method="get">
                            <button type="submit" class="tis-button">View</button>
                        </form> 
                    </ul>
                </div>
            <% }) %>
        </ul>
</div>
<%- include('../partials/foot')%>
