<%- include("../partials/head.ejs") -%>
<h1>
    <%- ti.name %>
</h1>
<div>
        <div class="tis-entry">
            <ul>
                <li><%- ti.name %></li>
                <li><%- ti.country %></li>
                <li><%- ti.city %></li>
                <li><%- ti.gender %></li>
                <li><%- ti.symptoms %></li>
                <li><%- ti.activism %></li>

                <form action="/tis/edit/<%= ti.name %>" method="get">
                    <button type="submit">Edit</button>
                </form> 
                <form action="/tis/delete/<%= ti.name %>" method="get">
                    <button type="submit">Delete</button>
                </form> 
            </ul>
        </div>
</div>
<%- include('../partials/foot') %>